
<mat-card class="card-template" *ngif="">
    <mat-card-header >
      <mat-card-title>{{ recipeTitle(cardT) }}</mat-card-title>
      </mat-card-header>
    <img mat-card-image src="cardT.picURL">
    <mat-card-content>
      <p>
          {{cardT.description}}
      </p>
    </mat-card-content>

    <mat-card-actions>
      <mat-grid-list cols="3" rowHeight="30px" gutterSize="5px"> 
      
        <mat-grid-tile >
        <div  id="read-more">
        <button mat-raised-button >Read More</button>
      </div>
      
        
        <span> <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="clickAdd(cardT)" >edit</mat-icon></span>

      
       
        <span> <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="clickSearch()">delete</mat-icon></span>
      </mat-grid-tile>
       
      </mat-grid-list>      
    </mat-card-actions>
  </mat-card>
