<div class="toolbar" role="banner">
    <span>Simple Recipes</span>
     <div class="spacer"></div>
   <div class="mat-icons">
     <button mat-icon-button>
     <span> <mat-icon aria-hidden="false" aria-label="Example home icon"  >edit</mat-icon></span>
   </button>
       
   <button mat-icon-button> 
     <span> <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="toggleNav()" >search</mat-icon></span>
   </button>
     <button mat-icon-button>
     <span> <mat-icon aria-hidden="false" aria-label="Example home icon" >last_page</mat-icon></span>
   </button>
   </div>
</div>